# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- task: DownloadSecureFile@1
  inputs:
    secureFile: 'deploy_key'

- script: |
    npm install
    npm run build
    rm -rf docs
    mv build docs
    git config --local user.email "mfregoso@users.noreply.github.com" 
    git config --local user.name "mfregoso"
    git diff --quiet && git diff --staged --quiet || git commit -am "update build ***NO_CI***"
  displayName: 'npm install, build and commit changes to docs'

- script: |
    mkdir ~/.ssh && mv $DOWNLOADSECUREFILE_SECUREFILEPATH ~/.ssh/id_rsa
    chmod 700 ~/.ssh && chmod 600 ~/.ssh/id_rsa
    ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts
    git remote set-url --push origin git@github.com:mfregoso/schedule-my-workweek.git
    git push origin HEAD:master
  displayName: 'push/deploy new build'